/*  phpBB 3.0 Style Sheet
    --------------------------------------------------------------
	Style name:		subsilver2
	Based on style:	subSilver (the default phpBB 2 style)
	Original author:	subBlue ( http://www.subBlue.com/ )
	Modified by:		psoTFX and the phpBB team ( http://www.phpbb.com )

	This is an alternative style for phpBB3 for those wishing to stay with
	the familiar subSilver style of phpBB version 2.x

	Copyright 2006 phpBB Group ( http://www.phpbb.com/ )
    --------------------------------------------------------------
*/

/* Layout
 ------------ */
* {
    /* Reset browsers default margin, padding and font sizes */
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    /* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
    font-family: «Arial», Verdana, Helvetica, Arial, sans-serif;
    color: #d7c6b1;
    font-size: 62.5%; /* This sets the default font size to be equivalent to 10px */
    margin: 6px;
    background: #000 url("images/fond02.jpg") no-repeat fixed top center;
}

span.imageset.forum_read,
span.imageset.forum_read_subforum,
span.imageset.topic_read,
span.imageset.topic_read_mine,
span.imageset.topic_read_hot_mine,
span.imageset.sticky_read,
span.imageset.sticky_read_mine {
    background: url(../imageset/subforum_read.png) no-repeat center center;
    background-size: 50px 50px;
    opacity: 0.6;
    font-size: 0;
    width: 59px;
    height: 59px;
    display: block;
}

span.imageset.forum_read_locked,
span.imageset.sticky_read_locked {
    background: url(../imageset/forum_read_locked.png) no-repeat center center;
    background-size: 50px 50px;
    opacity: 0.6;
    font-size: 0;
    width: 59px;
    height: 59px;
    display: block;
}

span.imageset.forum_unread_locked,
span.imageset.sticky_unread_locked {
    background: url(../imageset/forum_unread_locked.png) no-repeat center center;
    background-size: 50px 50px;
    opacity: 0.6;
    font-size: 0;
    width: 59px;
    height: 59px;
    display: block;
}

span.imageset.forum_unread,
span.imageset.forum_unread_subforum,
span.imageset.topic_unread,
span.imageset.topic_unread_mine,
span.imageset.topic_unread_hot_mine,
span.imageset.sticky_unread,
span.imageset.sticky_unread_mine {
    background: url(../imageset/subforum_unread.png) no-repeat center center;
    background-size: 50px 50px;
    font-size: 0;
    width: 50px;
    height: 50px;
    display: block;
}

span.imageset.announce_unread,
span.imageset.announce_unread_mine {
    background: url(../imageset/annonce_unread.png) no-repeat center center;
    background-size: 50px 50px;
    font-size: 0;
    width: 50px;
    height: 50px;
    display: block;
}

span.imageset.announce_read,
span.imageset.announce_read_mine {
    background: url(../imageset/annonce_read.png) no-repeat center center;
    background-size: 50px 50px;
    opacity: 0.75;
    font-size: 0;
    width: 50px;
    height: 50px;
    display: block;
}

span.imageset.announce_unread_locked {
    background: url(../imageset/announce_unread_locked.png) no-repeat center center;
    background-size: 50px 50px;
    font-size: 0;
    width: 50px;
    height: 50px;
    display: block;
}

span.imageset.announce_read_locked {
    background: url(../imageset/announce_read_locked.png) no-repeat center center;
    background-size: 50px 50px;
    opacity: 0.75;
    font-size: 0;
    width: 50px;
    height: 50px;
    display: block;
}

span.imageset.icon_topic_latest {
    background: url(../imageset/icon_post_target.gif) no-repeat center center;
    display: inline-block;
    width: 16px;
    height: 14px;
    text-indent: -99999px;
}

span.imageset.icon_topic_newest {
    background: url(../imageset/icon_topic_newest.gif) no-repeat center center;
    display: inline-block;
    width: 18px;
    height: 14px;
    text-indent: -99999px;
}

span.imageset.icon_post_edit {
    background: url(../imageset/fr/icon_post_edit.png) no-repeat center center;
    display: inline-block;
    width: 72px;
    height: 20px;
    text-indent: -99999px;
}

span.imageset.icon_post_delete {
    background: url(../imageset/fr/icon_post_delete.png) no-repeat center center;
    display: inline-block;
    width: 72px;
    height: 20px;
    text-indent: -99999px;
}

span.imageset.icon_post_report {
    background: url(../imageset/fr/icon_post_report.png) no-repeat center center;
    display: inline-block;
    width: 72px;
    height: 20px;
    text-indent: -99999px;
}

#top {
    background-image: url(images/top.png);
    width: 960px;
    height: 249px;
    margin: 0 auto;
}

#top_banner {
    background-image: url(images/top_2_OK.jpg);
    width: 960px;
    height: 160Px;
    margin: 0 auto;
}

#wrap {
    width: 960px;
    min-width: 650px;
    margin: 0 auto;
    padding: 0 0 0 0;
    background-image: url("images/wrap_fond.jpg");
}

.borderwrap {

    border: 0;
    padding: 0;
    margin: 0;
}

#logo {
    background: #1a1a1a;
    border: 1px solid #1e1e1e;
    height: 119px;
    margin: 0;
    padding: 0;
}

#logographic {
    background: transparent url(http://gamesboard.pl/styles/gb/theme/images/top.png) no-repeat left;
    height: 119px;
    margin: 0;
    padding: 0;
}

#submenu {
    background-image: url(images/breadcrumb.jpg);
    color: #fff;
    padding: 0 25px 0 25px;
    height: 30px;
    text-align: right;
}

.left,
.right {

    float: right;
    font-size: 11px;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
    width: auto;
}

.left {
    float: left;
    border-left: 0;
}

.left a:link,
.left a:visited,
.right a:link,
.right a:visited {
    background: transparent;
    color: #000;
    padding: 0 6px 0 6px;
    text-decoration: none;
}

.left a:hover,
.left a:active,
.right a:hover,
.right a:active {
    background: transparent;
    color: #fff;
    text-decoration: none;
}

#uplink {
    background: #202020;
    margin: 5px 0 5px 0;
    padding: 0 5px 0 5px;
}

#uplink {
    background: transparent url('images/row1_fond.png');
    padding: 4px;

}

#uplink p {
    background: transparent !important;
    border: 0 !important;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0 !important;
    padding: 7px 0 7px 0;
    text-align: right;
}

#uplink p.register {
    text-align: center;
}

#uplink p.home,
#uplink p.home {
    float: left;
}

.info {
    background: #2a2a2a;
    border-top: 1px solid #1e1e1e;
    border-bottom: 1px solid #1e1e1e;
    margin: 0;
    width: 100%;
}

.info td {
    color: #7a7a7a;
    font-size: 10px;
    padding: 5px 5px 5px 10px;
}

.info span {
    background: transparent;
    color: #fff;
    font-style: italic;
    font-weight: normal;
}

.info input {
    background: #303030;
    border: 1px solid #1e1e1e;
    color: #fff;
    font-size: 10px;
    padding: 3px;
    vertical-align: middle;
    width: auto;
}

.info input.button {
    background: transparent;
    border: 0;
    color: #fff;
    vertical-align: middle;
}

.maintitle p.expand,
.maintitle p.goto,
.maintitlecollapse p.expand,
.formsubtitle p.members {
    float: right;
    width: auto !important;
}

.maintitle a:link,
.maintitle a:visited,
.maintitlecollapse a:link,
.maintitlecollapse a:visited {
    background: transparent;
    color: #fff;
    text-decoration: none;
}

.maintitle a:hover,
.maintitle a:active,
.maintitlecollapse a:hover,
.maintitlecollapse a:active {
    background: transparent;
    color: #fff;
}

#wrapheader {
    min-height: 120px;
    height: auto !important;
    height: 120px;
    /*	background-image: url('styles/1Game/theme/images/background.gif');
        background-repeat: repeat-x;*/
    /*	padding: 0 25px 15px 25px;*/
    padding: 0;
}

#wrapcentre {
    margin: 15px 25px 0 25px;
}

#wrapfooter {
    height: 82px;
    text-align: center;
    clear: both;
    background: url('images/foot.png') no-repeat;
    padding: 10px 0 0 0;
}

#wrapnav {
    width: 100%;
    margin: 0;
    background-color: #262626;
    border: 1px solid #1e1e1e;
}

#logodesc {
    margin-bottom: 5px;
    padding: 5px 25px;
    background: #d9dfe4;
    border-bottom: 1px solid #4787a7;
}

#menubar {
    margin: 0 25px;
}

#datebar {
    margin: 10px 25px 0 25px;
}

#findbar {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.forumrules {
    background-color: #3e3e3e;
    border: 1px solid #4787a7;
    padding: 4px;
    font-weight: normal;
    font-size: 1.1em;
    font-family: «Arial», Verdana, Arial, Helvetica, sans-serif;
}

.forumrules h3 {
    color: red;
}

#pageheader {
}

#pagecontent {
}

#pagefooter {
}

#poll {
}

#postrow {
}

#postdata {
}

/*  Text
 --------------------- */
h1 {
    color: black;
    font-family: «Arial», "Trebuchet MS", Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    text-decoration: none;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    line-height: 120%;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 120%;
}

h4 {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
}

p {
    font-size: 1.1em;
}

p.moderators {
    margin: 0;
    float: left;
    color: black;
    font-weight: bold;
}

.rtl p.moderators {
    float: right;
}

p.linkmcp {
    margin: 0;
    float: right;
    white-space: nowrap;
}

.rtl p.linkmcp {
    float: left;
}

p.breadcrumbs {
    margin: 0;
    float: left;
    color: black;
    font-weight: bold;
    white-space: normal;
    font-size: 1em;
}

.rtl p.breadcrumbs {
    float: right;
}

p.datetime {
    margin: 0;
    float: right;
    white-space: nowrap;
    font-size: 1em;
}

.rtl p.datetime {
    float: left;
}

p.searchbar {
    padding: 2px 0;
    white-space: nowrap;
}

p.searchbarreg {
    margin: 0;
    float: right;
    white-space: nowrap;
}

.rtl p.searchbarreg {
    float: left;
}

p.forumdesc {
    padding-bottom: 4px;
}

p.topicauthor {
    margin: 1px 0;
}

p.topicdetails {
    margin: 1px 0;
}

.postreported, .postreported a:visited, .postreported a:hover, .postreported a:link, .postreported a:active {
    margin: 1px 0;
    color: red;
    font-weight: bold;
}

.postapprove, .postapprove a:visited, .postapprove a:hover, .postapprove a:link, .postapprove a:active {
    color: green;
    font-weight: bold;
}

.postapprove img, .postreported img {
    vertical-align: bottom;
}

.postauthor {
    color: #fff;
}

.postdetails {
    color: #fff;
}

.postbody {
    font-size: 1.3em;
    line-height: 1.4em;
    font-family: «Arial», "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.postbody li, ol, ul {
    margin: 0 0 0 1.5em;
}

.rtl .postbody li, .rtl ol, .rtl ul {
    margin: 0 1.5em 0 0;
}

.posthilit {
    background-color: yellow;
}

.nav {
    margin: 0;
    color: #e7e7e7;
    font-weight: bold;
}

.pagination {
    padding: 4px;
    color: black;
    font-size: 1em;
    font-weight: bold;
}

.cattitle {

}

.gen {
    margin: 1px 1px;
    font-size: 1.2em;
}

.genmed {
    margin: 1px 1px;
    font-size: 1.1em;
}

.gensmall {

    margin: 1px 1px;
    font-size: 1em;
}

.copyright {
    color: #999;
    font-weight: normal;
    font-family: «Arial», Verdana, Arial, Helvetica, sans-serif;
}

.titles {
    font-family: «Arial», Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    text-decoration: none;
}

.error {
    color: #f30;
}

/* Tables
 ------------ */
th {
    color: #ccc;
    font-size: 12px;
    font-weight: bold;
    background-color: #1a1a1a;
    white-space: nowrap;
    border-left: 1px solid #303030;
    border-top: 1px solid #303030;
    padding: 5px 5px;
}

td {
    padding: 2px;
}

td.profile {
    padding: 4px;
}

.tablebg {
    border: 1px solid #303030;

}

.catdiv {
    height: 25px;
    margin: 0;
    padding: 0;
    border: 0;
    background: white url('images/cellpic2.jpg') repeat-y scroll top left;
}

.rtl .catdiv {
    background: white url('images/cellpic2_rtl.jpg') repeat-y scroll top right;
}

.cat {
    height: 25px;
    margin: 0;
    padding: 0;
    border: 0;
    background: #000 url('images/cat_fond.jpg');
    text-indent: 4px;
}

.row1 {

    border-left: 1px solid #303030;
    border-top: 1px solid #303030;
    background-image: url('images/row1_fond.png');
    padding: 4px;
}

.row2 {
    background-image: url('images/row1_fond.png');
    border-left: 1px solid #303030;
    border-top: 1px solid #303030;
    padding: 4px;
}

.row3 {
    background-color: #353434;
    padding: 6px;
}

.spacer {
    background-color: #202020;
}

hr {
    height: 1px;
    border-width: 0;
    background-color: #d1d7dc;
    color: #d1d7dc;
}

.legend {
    text-align: center;
    margin: 0 auto;
}

/* Links
 ------------ */
a:link {
    color: #fff;
    text-decoration: none;
}

a:active,
a:visited {
    color: #fcfceb;
    text-decoration: none;
}

a:hover {
    color: #19c0db;
    text-decoration: underline;
}

a.forumlink {
    font-weight: bold;
    font-family: «Arial», Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

a.topictitle {
    margin: 1px 0;
    font-family: «Arial», Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

a.topictitle:visited {
    color: #5493b4;
    text-decoration: none;
}

th a,
th a:visited {
    color: #ffa34f !important;
    text-decoration: none;
}

th a:hover {
    text-decoration: underline;
}

.postbody a:link {
    color: #fff;
    text-decoration: underline;
}

.postbody a:hover {
    color: #19c0db;
    text-decoration: underline;
}

/* Form Elements
 ------------ */
form {
    margin: 0;
    padding: 0;
    border: 0;
}

input {
    color: #fff;
    font-family: «Arial», Verdana, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    padding: 1px;
    border: 1px solid #303030;
    background-color: #3e3e3e;
}

textarea {
    background-color: #2b2929;
    color: #fafafa;
    font-family: «Arial», Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    line-height: 1.4em;
    font-weight: normal;
    border: 1px solid #1e1e1e;
    padding: 2px;
}

select {
    color: #fff;
    background-color: #1f1f1f;
    font-family: «Arial», Verdana, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
    border: 1px solid #303030;
    padding: 1px;
}

option {
    padding: 0 1em 0 0;
}

option.disabled-option {
    color: graytext;
}

.rtl option {
    padding: 0 0 0 1em;
}

input.radio {
    border: none;
    background-color: transparent;
}

.post {
    background-color: #262626;
    border: 1px solid;
}

.btnbbcode {
    color: #fff;
    font-weight: normal;
    font-size: 1.1em;
    font-family: «Arial», Verdana, Helvetica, sans-serif;
    background-color: #2c2929;
    border: 1px solid #666;
}

.btnmain {
    font-weight: bold;
    background-color: #262626;
    border: 1px solid #1e1e1e;
    cursor: pointer;
    padding: 1px 5px;
    font-size: 1.1em;
}

.btnlite {
    font-weight: normal;
    background-color: #262626;
    border: 1px solid #1e1e1e;
    cursor: pointer;
    padding: 1px 5px;
    font-size: 1.1em;
}

.btnfile {
    font-weight: normal;
    background-color: #262626;
    border: 1px solid #1e1e1e;
    padding: 1px 5px;
    font-size: 1.1em;
}

.helpline {
    background-color: #262626;
    border-style: none;
}

/* BBCode
 ------------ */
.quotetitle, .attachtitle {
    margin: 10px 5px 0 5px;
    padding: 4px;
    border: 1px solid #1e1e1e;
    border-bottom-width: 0;
    color: #333;
    background-color: #1e1e1e;
    font-size: 0.85em;
    font-weight: bold;
}

.quotetitle .quotetitle {
    font-size: 1em;
}

.quotecontent, .attachcontent {
    margin: 0 5px 10px 5px;
    padding: 5px;
    border: 1px solid #1e1e1e;
    border-top-width: 0;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.4em;
    font-family: «Arial», "Trebuchet MS", Helvetica, Arial, sans-serif;
    background-color: #2b2929;
    color: #fafafa;
}

.attachcontent {
    font-size: 0.85em;
}

.codetitle {
    margin: 10px 5px 0 5px;
    padding: 2px 4px;
    border: 1px solid #1e1e1e;
    border-bottom-width: 0;
    color: #333;
    background-color: #1e1e1e;
    font-family: «Arial», Verdana, Helvetica, Arial, sans-serif;
    font-size: 0.8em;
}

.codecontent {
    direction: ltr;
    margin: 0 5px 10px 5px;
    padding: 5px;
    border: 1px solid #1e1e1e;
    border-top-width: 0;
    font-weight: normal;
    color: #fff;
    font-size: 0.85em;
    font-family: Monaco, 'Courier New', monospace;
    background-color: #2b2929;
}

.syntaxbg {
    color: #1f1f1f;
}

.syntaxcomment {
    color: #ff8000;
}

.syntaxdefault {
    color: #00b;
}

.syntaxhtml {
    color: #fff;
}

.syntaxkeyword {
    color: #070;
}

.syntaxstring {
    color: #d00;
}

/* Private messages
 ------------------ */
.pm_marked_colour {
    background-color: #fff;
}

.pm_replied_colour {
    background-color: #1e1e1e;
}

.pm_friend_colour {
    background-color: #070;
}

.pm_foe_colour {
    background-color: #d00;
}

/* Chat
 ------------ */

#chatbox {
    margin-top: 10px;
}

#chat_overflow {
    overflow: auto;
    height: 200px;
}

#chat_messages .chat_date {
    font-size: 1.4em;
}

#chat_messages tr {
    padding: 5px;
}

#chat_messages tr.new * {
    background-color: #ecd5d8 !important; /* <------------------------------------ You might want to change it. It's a good idea to copy it from div.rules. */
}

#chatbox #chat_messages td.chat_info {
    width: 15%;
    position: relative;
}

#chatbox #chat_messages td.chat_info .chat_time {
    float: left;
}

#chatbox #chat_messages td.chat_info .chat_actions {
    bottom: 0;
    font-weight: bold;
    float: right;
}

#chatbox #chat_messages td.chat_text {
    width: 85%;
}

#chatbox #chat_posting #chat_posting_submit {
    margin-left: 10px;
    float: right;
    width: 100px;
}

#chatbox #chat_posting #chat_message {
    width: 95%;
}

/* Misc
 ------------ */
img {
    border: none;
}

.sep {
    color: black;
    background-color: #ffa34f;
}

table.colortable td {
    padding: 0;
}

pre {
    font-size: 1.1em;
    font-family: Monaco, 'Courier New', monospace;
}

.nowrap {
    white-space: nowrap;
}

.username-coloured {
    font-weight: bold;
}

.sliderwrapper {
    position: relative; /*leave as is*/
    overflow: hidden; /*leave as is*/
    width: 418px; /*width of featured content slider*/
    height: 207px;
}

.sliderwrapper .contentdiv {
    visibility: hidden; /*leave as is*/
    position: absolute; /*leave as is*/
    left: 0; /*leave as is*/
    top: 0; /*leave as is*/
    width: 418px; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}

.pagination {
    width: 600px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
    text-align: right;

    padding: 5px 10px;
}

.pagination a {
    padding: 0 5px;
    text-decoration: none;
    color: #00007d;
    background: white;
}

.pagination a:hover, .pagination a.selected {
    color: #000;
    background-color: #fee496;
}

.postbody img {
    max-width: 100%;
}
